<div class="simpleslide100">
    <!--     <div class="simpleslide100-item bg-img1" style="background-image: url('assets/images/bg01.jpg')"></div>
    <div class="simpleslide100-item bg-img1" style="background-image: url('assets/images/bg02.jpg');"></div> -->
    <!--  <img src="assets/images/bg01.jpg" class="simpleslide100-item bg-img1"> -->
    <img src="assets/images/bg02.jpg" class="simpleslide100-item bg-img1">
    <!--  <img src="assets/images/bg03.jpg" class="simpleslide100-item bg-img1"> -->
    <img src="assets/images/img1.jpg" class="simpleslide100-item bg-img1">
    <img src="assets/images/img4.jpg" class="simpleslide100-item bg-img1">
    <img src="assets/images/img5.jpg" class="simpleslide100-item bg-img1">
    <img src="assets/images/img6.jpg" class="simpleslide100-item bg-img1">


</div>
<header class="bg-info ">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm  ">
            <a class="navbar-brand " href="#">
                <img src="assets/images/banner8.png" alt="">
            </a>

        </nav>
    </div>
</header>

<header class="totalhead ">

    <div class="container-fluid">

        <!--  <img src="assets/Images/banner.jpg" alt=""> -->
        <div class="container-fuide mb-3">
            <div class="row justify-content-sm-center mb-2" id='row'>
                <h1 class="text-center">COMING SOON</h1>
            </div>

            <div class="row justify-content-sm-center mb-3" id='row1'>
                <h3 class="text-center ">Our website is under construction, follow us for update now!</h3>
            </div>

            <div class="row  clearfix  text-center justify-content-sm-center" id='row2'>
                <div class="col-sm-2 ">
                </div>
                <div class="col-sm-2">
                    <div class="rounddiv">
                        <h1 id="days">_:_ </h1>
                        <span>DAYS</span>
                    </div>
                </div>
                <div class="col-sm-2 ">
                    <div class="rounddiv">
                        <h1 id="hours">_:_ </h1>
                        <span>HOURS</span>
                    </div>
                </div>
                <div class="col-sm-2  ">
                    <div class="rounddiv">
                        <h1 id="minutes">_:_ </h1>
                        <span>MIN</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="rounddiv">
                        <h1 id="seconds">_:_ </h1>
                        <span>SEC</span>
                    </div>
                </div>
                <div class="col-sm-2 ">
                </div>

            </div>

            <!-- <div class="row justify-content-sm-center mb-3" id='row'>
          <div class="offset-md-1 col-sm-6">
              <input type="text" placeholder="Enter Email Address" class="form-control p-3"></div>
          <div class="col-sm-2 ">
              <input type="button" value="SUBSCRIBE" class='btn  text-dark btnclr'>
          </div>
      </div> -->
            <div style="height: 50px;"></div>
        </div>

    </div>

</header>
