totalhead {
    position: relative;
    color: whitesmoke;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.rounddiv {
    width: 150px;
    height: 150px;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    margin: auto auto 30px;
}

.btnclr {
    background-color: rgb(132, 106, 221);
    border-radius: 10px;
}

h1 {
  margin: 35px auto auto;
}

span {
    color: rgb(132, 106, 221);
    font-size: 20px;
}

#row:last-child {
    margin-bottom: 50px;
}

input[type='text'] {
    padding: 10px;
    border-radius: 100px;
}

img {
    position: relative;
    height: 80px;
    width: 250px;
    padding: 0px;
    margin: 0px;
}

.simpleslide100 {
    display: block;
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.simpleslide100-item {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -999;
}
