<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <img src="assets/images/banner8.png" alt="" style="width: 8rem;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active header-item">
          <a class="nav-link" [mat-menu-trigger-for]="administrationMenu">Administration <span class="sr-only">(current)</span></a>
          <mat-menu #administrationMenu="matMenu">
            <button
              mat-menu-item
              *ngFor="let item of administrationMenuList"
              [routerLink]="item.path"
            >
              <mat-icon>{{item.icon}}</mat-icon>
              <span>{{item.name}}</span>
            </button>
          </mat-menu>
        </li>
        <li class="nav-item">
          <a class="nav-link" [mat-menu-trigger-for]="academicsMenu">Academics</a>
          <mat-menu #academicsMenu="matMenu">
            <button
              mat-menu-item
              *ngFor="let item of academicsMenuList"
              [routerLink]="item.path"
            >
              <mat-icon>{{item.icon}}</mat-icon>
              <span>{{item.name}}</span>
            </button>
          </mat-menu>
        </li>
      </ul>
      <div>
        <button
          type="button"
          mat-icon-button
          aria-label="User Details"
          class="user"
          [mat-menu-trigger-for]="userMenu"
        >
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item>Profile</button>
          <button mat-menu-item>Logout</button>
        </mat-menu>
      </div>
    </div>
  </nav>
</header>
