$header-background: rgb(233, 30, 99);
$header-color: white;

nav {
  background-color: $header-background;
  color: $header-color;
}

.user {
  color: $header-color;
}

.navbar-nav .nav-link, .navbar-brand {
  color: $header-color;
  padding: 1rem;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
}

a {
  cursor: pointer;
}
